@model EmployeeMvc.Models.Employee
@{
    ViewData["Title"] = "Add Employee";
}

<div class="panel">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="DateOfBearth" class="form-label"></label>
            <input asp-for="DateOfBearth" type="date" class="form-control" />
            <span asp-validation-for="DateOfBearth" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

       

        <div class="d-flex">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
        </div>
    </form>
</div>
